{% extends "base.html" %}
{%block title %} Index Page {% endblock %}
{% block content %}

<h1>Hello World</h1>
<form action="{{url_for ('index')}}" , method="POST">
    <input type="text" name="Username" placeholder="Username"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="submit" value="Login"><br>
</form>


<h1>File Upload</h1>
<form action="{{url_for('upload_file')}}" method = "POST" enctype ="multipart/form-data">


    <input type="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, text/plain" required="required"><br>

    <input type="submit" value="Upload File">
</form>

<h1>Javascripot JSON Request</h1>
<button id="post_button">Send Post Request</button>

<h1>Images</h1>
<img src="/img/4d5a7de4-792d-4753-a99d-08af38e2a262.jpg" alt="Sample Image"><br>

<span class="special">Hello</span><br>

<a href="a" class="btn btn-primary">Button text</a><br>
<a href="a" class="btn btn-danger">Button text</a><br>

<script>
    const post_button = document.getElementById('post_button');
    const jsonData = {name:'Rakib',greetings:'Hello'}
    post_button.addEventListener('click',()=>{
        fetch('{{url_for("handle_post")}}',{
            method:'POST',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify (jsonData)
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    });
</script>
<script src="/js/hello.js"></script>

{% endblock %}